Analyze reviews in wine dataset
 - see if review descriptions cluster by type of wine (should, if reviews are not all BS)
 - possible to create bot to describe wines like a sommelier? (Impress your friends at parties!)
 - Recommend wines similar to wines you like (sort by price/rating? Give best value?)

In [7]:
#imports
import numpy as np
import pandas as pd
import re

In [10]:
df1 = pd.read_csv('winemag-data_first150k.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
Unnamed: 0     150930 non-null int64
country        150925 non-null object
description    150930 non-null object
designation    105195 non-null object
points         150930 non-null int64
price          137235 non-null float64
province       150925 non-null object
region_1       125870 non-null object
region_2       60953 non-null object
variety        150930 non-null object
winery         150930 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB

In [19]:
df2 = pd.read_csv('winemag-data-130k-v2.csv')

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
Unnamed: 0               129971 non-null int64
country                  129908 non-null object
description              129971 non-null object
designation              92506 non-null object
points                   129971 non-null int64
price                    120975 non-null float64
province                 129908 non-null object
region_1                 108724 non-null object
region_2                 50511 non-null object
taster_name              103727 non-null object
taster_twitter_handle    98758 non-null object
title                    129971 non-null object
variety                  129970 non-null object
winery                   129971 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [21]:
df2.drop(columns = {'taster_name', 'taster_twitter_handle', 'title'}, 
        inplace = True)

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 11 columns):
Unnamed: 0     129971 non-null int64
country        129908 non-null object
description    129971 non-null object
designation    92506 non-null object
points         129971 non-null int64
price          120975 non-null float64
province       129908 non-null object
region_1       108724 non-null object
region_2       50511 non-null object
variety        129970 non-null object
winery         129971 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 10.9+ MB

In [33]:
df = pd.concat([df1, df2])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280901 entries, 0 to 129970
Data columns (total 11 columns):
Unnamed: 0     280901 non-null int64
country        280833 non-null object
description    280901 non-null object
designation    197701 non-null object
points         280901 non-null int64
price          258210 non-null float64
province       280833 non-null object
region_1       234594 non-null object
region_2       111464 non-null object
variety        280900 non-null object
winery         280901 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 25.7+ MB

In [35]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [36]:
df.drop(columns = {'Unnamed: 0', 
                  'designation', 
                  'points', 
                  'price', 
                  'region_1', 
                  'region_2'}, 
        inplace = True)

In [37]:
df.dropna(subset = ['country'], inplace = True)
df.dropna(subset = ['variety'], inplace = True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280832 entries, 0 to 129970
Data columns (total 5 columns):
country        280832 non-null object
description    280832 non-null object
province       280832 non-null object
variety        280832 non-null object
winery         280832 non-null object
dtypes: object(5)
memory usage: 12.9+ MB

In [39]:
df.head()

,country,description,province,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,California,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Northern Spain,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,California,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Oregon,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",Provence,Provence red blend,Domaine de la Bégude

In [40]:
df.to_pickle('./wine_data.pkl')